<header class="doc-header">
  <div class="brand">
    <img class="brand-logo" src="{{{@root._logoFull}}}" alt="Pac Technologies">
    <div class="brand-mark">
      {{#if (eq snapshot.kind "variation")}}
        Variation V{{snapshot.rev_number}} to {{or snapshot.project.project_number snapshot.project.job_code}}
      {{else}}
        Quotation
      {{/if}}
    </div>
  </div>
  <div class="doc-meta">
    <div class="mono">{{snapshot.quote_number}} · Rev {{snapshot.rev_number}}</div>
    <div>{{snapshot.project.customer.name}}</div>
    <div>{{displayDate snapshot.issued_at}}</div>
  </div>
</header>
